* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#resp {
    border: 1px solid gray;
    padding: 1rem;
    width: 25rem;
    height: 30rem;
    margin: 1rem auto;
    border-radius: 1rem;
    box-shadow: .5rem .5rem .3rem .1rem gray;
}